@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  background-color: darkcyan;
  display: flex;
  justify-content: center;
}
.container{
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.image{
  display: flex;
  justify-content: center;
}
.profile{
  width: 180px;
}
.fav-btn{
  height: 40px;
  border-style: none;
  background-color: #fff;
}
.logo{
  width: 25px;
  margin-top: 5px;
  margin-bottom: 14px;
  cursor: pointer;
}
.name{
  padding-bottom: 10px;
}
.phone{
  padding-bottom: 2px;
}